<div class="container">
    <div class="head d-flex justify-content-center" >
        <h1>Herbal Medicine Predictor</h1>
    </div>
    <div class="userForm">
        <form action="">
            <div class="cont">
                <div class="fdiv">
                  <label for=""> Enter your name:
                    <input type="text" placeholder="Enter name here..." name="uname" />
                  </label>
                  <label for="">Symptom 1:
                    <select name="symp1" id="sym1">
                      <option value="">Choose your problem</option>
                      <option value="1">Immunity</option>
                      <option value="2">Weight Loss</option>
                      <option value="3">Weight Gain</option>
                    </select>
                  </label>
                  <label for="">Symptom 2:
                    <select name="symp1" id="sym2">
                      <option value="">Choose your problem</option>
                      <option value="1">Immunity</option>
                      <option value="2">Weight Loss</option>
                      <option value="3">Weight Gain</option>
                    </select>
                  </label>
                  <label for="">Symptom 3:
                    <select name="symp1" id="sym2">
                      <option value="">Choose your problem</option>
                      <option value="1">Immunity</option>
                      <option value="2">Weight Loss</option>
                      <option value="3">Weight Gain</option>
                    </select>
                  </label>
                  <label for="">Symptom 4:
                    <select name="symp1" id="sym2">
                      <option value="">Choose your problem</option>
                      <option value="1">Immunity</option>
                      <option value="2">Weight Loss</option>
                      <option value="3">Weight Gain</option>
                    </select>
                  </label>
                  <label for="">Symptom 5:
                    <select name="symp1" id="sym2">
                      <option value="">Choose your problem</option>
                      <option value="1">Immunity</option>
                      <option value="2">Weight Loss</option>
                      <option value="3">Weight Gain</option>
                    </select>
                  </label>
              </div>
              <div class="btns">
                <button class="btn btn-success btn-lg">Predict-1</button>
                <button class="btn btn-success btn-lg">Predict-2</button>
                <button class="btn btn-success btn-lg">Predict-3</button>
                <button class="btn btn-success btn-lg">Predict-4</button>
                <button class="btn btn-danger btn-lg">Reset</button>
              </div>
            </div>
        </form>
        <div class="resultdiv">
          <h2>SUGGESTED HERB</h2>
          <h3>Prediction-1:</h3>
          <div class="d-flex col-lg-6">
            <h5>Herb Name: <i>Arugampul</i></h5>
            <h5>Confidence Score: 90%</h5>
          </div>
          <h3>Prediction-2:</h3>
          <div class="d-flex col-lg-6">
            <h5>Herb Name: <i>Arugampul</i></h5>
            <h5>Confidence Score: 90%</h5>
          </div>
          <h3>Prediction-3:</h3>
          <div class="d-flex col-lg-6">
            <h5>Herb Name: <i>Arugampul</i></h5>
            <h5>Confidence Score: 90%</h5>
          </div>
          <h3>Prediction-4:</h3>
          <div class="d-flex col-lg-6">
            <h5>Herb Name: <i>Arugampul</i></h5>
            <h5>Confidence Score: 90%</h5>
          </div>
        </div>
    </div>
</div>

