<div class="container">
    <div class="head d-flex justify-content-center" >
        <h1>Herbal Medicine Predictor</h1>
    </div>
    <div class="userForm">
        <form [formGroup]="herbForm" (ngSubmit)="getSymptoms()">
            <div class="cont">
                <div class="fdiv">
                  <label for="">Symptom 1:
                    <select name="symp1" id="sym1" formControlName="symptom1">
                      <option value="">Choose your problem</option>
                      <ng-container *ngFor="let i of symptoms">
                        <option value="{{i}}">{{i}}</option>
                      </ng-container>
                    </select>
                  </label>
                  <label for="">Symptom 2:
                    <select name="symp2" id="sym2" formControlName="symptom2">
                      <option value="">Choose your problem</option>
                      <ng-container *ngFor="let i of symptoms">
                        <option value="{{i}}">{{i}}</option>
                      </ng-container>
                    </select>
                  </label>
                  <label for="">Symptom 3:
                    <select name="symp3" id="sym3" formControlName="symptom3">
                      <option value="">Choose your problem</option>
                      <ng-container *ngFor="let i of symptoms">
                        <option value="{{i}}">{{i}}</option>
                      </ng-container>
                    </select>
                  </label>
                  <label for="">Symptom 4:
                    <select name="symp4" id="sym4" formControlName="symptom4">
                      <option value="">Choose your problem</option>
                      <ng-container *ngFor="let i of symptoms">
                        <option value="{{i}}">{{i}}</option>
                      </ng-container>
                    </select>
                  </label>
                  <label for="">Symptom 5:
                    <select name="symp5" id="sym5" formControlName="symptom5">
                      <option value="">Choose your problem</option>
                      <ng-container *ngFor="let i of symptoms">
                        <option value="{{i}}">{{i}}</option>
                      </ng-container>
                    </select>
                  </label>
              </div>
              <div class="btns">
                <button class="btn pbtn btn-success btn-lg">Predict</button>
                <button class="btn rbtn btn-danger btn-lg" (click)="reset()">Reset</button>
              </div>
            </div>
        </form>
        <div class="resultdiv">
          <h2>SUGGESTED HERBS</h2>
          <div class="row ans">
            <div class="col-lg-6">
              <h3>Decision Tree:</h3>
              <div class="d-flex col-lg-6">
                <strong>
                  <p>Herb Name: <i>{{herbs[0]}}</i></p>
                </strong>
                <!-- <h5>Confidence Score: {{acc[0]}}</h5> -->
              </div>
              <h3>Random Forest:</h3>
              <div class="d-flex col-lg-6">
               <strong><p>Herb Name: <i>{{herbs[1]}}</i></p></strong>
                <!-- <h5>Confidence Score: {{acc[1]}}</h5> -->
              </div>
              <h3>KNN Classifier:</h3>
              <div class="d-flex col-lg-6">
                <strong><p>Herb Name: <i>{{herbs[2]}}</i></p></strong>
                <!-- <h5>Confidence Score: {{acc[2]}}</h5> -->
              </div>
            </div>
            <div class="col-lg-6">
                <h3>Logistic Regression:</h3>
                <div class="d-flex col-lg-6">
                  <strong><p>Herb Name: <i>{{herbs[3]}}</i></p></strong>
                  <!-- <h5>Confidence Score: {{acc[3]}}</h5> -->
                </div>
                <h3>Naive Bayes Classifier:</h3>
                <div class="d-flex col-lg-6">
                  <strong><p>Herb Name: <i>{{herbs[4]}}</i></p></strong>
                  <!-- <h5>Confidence Score: {{acc[4]}}</h5> -->
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
